# Ignore everything
*

# Whitelist Core Files
!README.md
!LICENSE
!CHANGELOG.md
!.gitignore
!index.json

# Whitelist GitHub Config & Scripts
!.github/
!.github/**

# Whitelist ONLY JSON files in apps/
!apps/
apps/*
!apps/*.json
